div.admonition {
  border-radius: 5px;              /* alle Ecken (oben & unten) abrunden */
  overflow: hidden;                /* Inhalt an die Rundung "anpassen" */
  border: 1px solid rgba(0,0,0,.08);
}
